Repository dairycow/skim: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, pytest-unit, pytest-full, pytest-coverage, check-env-example

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: 'tests/.*|docs/.*'

  - repo: local
    hooks:
      - id: ruff-check
        name: ruff check
        entry: uv run ruff check src tests
        language: system
        types: [python]
        pass_filenames: false

      - id: ruff-format
        name: ruff format
        entry: uv run ruff format --check src tests
        language: system
        types: [python]

      - id: pytest-unit
        name: pytest unit tests
        entry: uv run pytest tests/unit/ -v
        language: system
        types: [python]
        pass_filenames: false

      - id: pytest-full
        name: pytest full suite
        entry: uv run pytest tests/unit/ tests/integration/
        language: system
        types: [python]
        pass_filenames: false
        stages: [pre-push]

      - id: pytest-coverage
        name: pytest coverage
        entry: uv run pytest tests/unit/ tests/integration/ --cov=src --cov-fail-under=80 --cov-report=term-missing
        language: system
        types: [python]
        pass_filenames: false
        stages: [pre-push]

      - id: check-env-example
        name: Check .env.example changes
        entry: scripts/check-env-example.sh
        language: script
        files: '^\.env\.example$'

fix: refactor tests to match updated bot.py implementation
  src/skim/core/bot.py
  tests/unit/test_bot.py
  tests/unit/test_bot_stop_loss_daily_low.py
Due: ruff-check, ruff-format, pytest-unit, pytest-full, pytest-coverage

test: Add comprehensive strategy module integration tests and OrderExecutor
  src/skim/strategy/order_executor.py
  tests/unit/test_bot_exit_strategy_integration.py
  tests/unit/test_bot_position_manager_integration.py
  tests/unit/test_order_executor.py
Due: ruff-check, ruff-format, pytest-unit, pytest-full, pytest-coverage

refactor: Simplify bot.py by delegating to strategy modules
  src/skim/core/bot.py
Due: ruff-check, ruff-format, pytest-unit, pytest-full, pytest-coverage

Phase 4: Start decoupling IBKRGapScanner from database
  src/skim/core/bot.py
  src/skim/scanners/ibkr_gap_scanner.py
  src/skim/validation/scanners.py
  tests/conftest.py
  tests/unit/test_scanner_decoupled.py
Due: ruff-check, ruff-format, pytest-unit, pytest-full, pytest-coverage

Phase 4: Complete scanner decoupling and test updates
  src/skim/scanners/ibkr_gap_scanner.py
  tests/conftest.py
  tests/unit/test_bot.py
  tests/unit/test_scanner_decoupled.py
Due: ruff-check, ruff-format, pytest-unit, pytest-full, pytest-coverage

Phase 4: Complete scanner decoupling and test updates
  .pre-commit-config.yaml
  docs/PLAN_TEST_EFFICIENCY.md
  docs/PLAN_TEST_FIXES.md
  pyproject.toml
  src/skim/brokers/ibkr_client.py
  src/skim/core/bot.py
  src/skim/strategy/order_executor.py
  tests/conftest.py
  tests/unit/brokers/test_ibkr_penny_stocks.py
  tests/unit/brokers/test_ibkr_scanner.py
  tests/unit/test_bot.py
  tests/unit/test_cron_schedule.py
  tests/unit/test_scanner_decoupled.py
  tests/unit/test_scanners.py
  uv.lock
Due: ruff-check, ruff-format, pytest-unit, pytest-full, pytest-coverage

perf: reduce test suite execution time from 32s to 1s by mocking retry delays
  pyproject.toml
  tests/unit/brokers/test_ibkr_scanner.py
  uv.lock
Due: ruff-check, ruff-format, pytest-unit, pytest-full, pytest-coverage

perf: implement Phase 2 and Phase 3 fixture optimisations
  tests/conftest.py
Due: ruff-check, ruff-format, pytest-unit, pytest-full, pytest-coverage

delete plans
  docs/PLAN_TEST_EFFICIENCY.md
  docs/PLAN_TEST_FIXES.md
Due: none

test: fix integration test failures and configure pytest-timeout for different test types
  tests/conftest.py
  tests/integration/test_discord_integration.py
  tests/integration/test_penny_stock_scanning.py
Due: ruff-check, ruff-format, pytest-unit, pytest-full, pytest-coverage

refactor: simplify scan() with direct set-based filtering
  src/skim/core/bot.py
  src/skim/scanners/ibkr_gap_scanner.py
  tests/unit/test_bot.py
  tests/unit/test_scanner_decoupled.py
Due: ruff-check, ruff-format, pytest-unit, pytest-full, pytest-coverage

refactor: decouple database and Discord operations in scan method
  src/skim/core/bot.py
  tests/unit/test_scan_decoupling.py
Due: ruff-check, ruff-format, pytest-unit, pytest-full, pytest-coverage

Remove status report cron jobs
  crontab
  tests/unit/test_cron_schedule.py
Due: ruff-check, ruff-format, pytest-unit, pytest-full, pytest-coverage

fix: replace non-existent scan_ibkr_gaps with scan method in crontab
  crontab
Due: none

docs: refactor ARCHITECTURE.md to reference code implementation, reducing length under 100 lines
  docs/ARCHITECTURE.md
Due: none

refactor: reorganize crontab for improved readability by grouping scan types
  crontab
Due: none

refactor: simplify TradingBot to thin wrapper for cron workflows by removing unused methods
  src/skim/core/bot.py
  tests/unit/test_bot.py
  tests/unit/test_cron_schedule.py
Due: ruff-check, ruff-format, pytest-unit, pytest-full, pytest-coverage

refactor: enhance market data with bot MarketData object.
  src/skim/core/bot.py
  src/skim/data/database.py
  src/skim/data/models.py
  src/skim/validation/market_data.py
  tests/conftest.py
  tests/unit/test_bot.py
  tests/unit/test_database.py
  tests/unit/test_models.py
  tests/unit/validation/test_market_data.py
Due: ruff-check, ruff-format, pytest-unit, pytest-full, pytest-coverage

fix: correct get_or_tracking_candidates to query watching status
  src/skim/data/database.py
  tests/unit/test_database.py
Due: ruff-check, ruff-format, pytest-unit, pytest-full, pytest-coverage

clean docs
  README.md
  docs/ARCHITECTURE.md
Due: none

Aggressive redesign: Implement minimalist ORH breakout trading bot
  crontab
  docs/ARCHITECTURE.md
  src/skim/core/bot.py
  src/skim/core/bot.py.bak
  src/skim/data/__init__.py
  src/skim/data/database.py
  src/skim/data/models.py
  src/skim/monitor.py
  src/skim/scanner.py
  src/skim/trader.py
  tests/conftest.py
  tests/unit/test_monitor.py
  tests/unit/test_scanner.py
  tests/unit/test_trader.py
Due: ruff-check, ruff-format, pytest-unit, pytest-full, pytest-coverage

Update test_models.py to match simplified data models
  tests/unit/test_models.py
Due: ruff-check, ruff-format, pytest-unit, pytest-full, pytest-coverage

refactor: Implement dependency injection for IBKR client
  src/skim/brokers/ib_interface.py
  src/skim/core/bot.py
  src/skim/scanner.py
  src/skim/scanners/ibkr_gap_scanner.py
  tests/unit/test_dependency_injection.py
  tests/unit/test_scanner.py
  tests/unit/test_scanner_decoupled.py
Due: ruff-check, ruff-format, pytest-unit, pytest-full, pytest-coverage

remove bot.bak
  src/skim/core/bot.py.bak
Due: none

tidy .env.example
  .env.example
Due: check-env-example

Add design document for removing Docker dependency
  docs/plans/2025-11-23-remove-docker-design.md
Due: none

Remove Docker dependency, use direct VPS deployment
  Dockerfile
  crontab
  deploy/sudoers-skim
  deploy/webhook.sh
  docker-compose.yml
  docs/DEVELOPMENT.md
  pyproject.toml
  src/skim/core/config.py
  tests/unit/test_cron_schedule.py
  uv.lock
Due: ruff-check, ruff-format, pytest-unit, pytest-full, pytest-coverage

updated lxml
  pyproject.toml
  uv.lock
Due: none

Add design document for Python 3.13 upgrade
  docs/plans/2025-11-23-python-313-upgrade-design.md
Due: none

update proj to py313
  docs/ARCHITECTURE.md
  docs/DEVELOPMENT.md
  pyproject.toml
  uv.lock
Due: none

add .python-version
  .python-version
Due: none

add script for creating git worktree
  scripts/create-worktree.sh
Due: none

load .env in config.py
  src/skim/core/config.py
Due: ruff-check, ruff-format, pytest-unit, pytest-full, pytest-coverage

Reduce verbosity and add merge/cleanup instructions to create-worktree.sh
  scripts/create-worktree.sh
Due: none

remove old docker related scripts
  scripts/start-bot-local.sh
  scripts/startup.sh
Due: none

add .vscode to create worktree script
  scripts/create-worktree.sh
Due: none

Separate opening range tracking from scanning
  docs/ARCHITECTURE.md
  docs/DEVELOPMENT.md
  docs/INTEGRATIONS.md
  src/skim/core/bot.py
  src/skim/data/database.py
  src/skim/data/models.py
  src/skim/range_tracker.py
  src/skim/scanner.py
  src/skim/trader.py
  tests/unit/test_bot.py
  tests/unit/test_dependency_injection.py
  tests/unit/test_scanner.py
Due: ruff-check, ruff-format, pytest-unit, pytest-full, pytest-coverage

Remove unused strategy/ and protocols/ modules
  src/skim/brokers/__init__.py
  src/skim/brokers/ib_interface.py
  src/skim/brokers/ibkr_market_data.py
  src/skim/brokers/ibkr_orders.py
  src/skim/brokers/protocols.py
  src/skim/data/models.py
  src/skim/protocols/trader.py
  src/skim/strategy/__init__.py
  src/skim/strategy/entry.py
  src/skim/strategy/exit.py
  src/skim/strategy/order_executor.py
  src/skim/strategy/position_manager.py
  tests/conftest.py
  tests/unit/brokers/test_ibkr_market_data_low.py
  tests/unit/brokers/test_ibkr_penny_stocks.py
  tests/unit/test_order_executor.py
  tests/unit/test_strategy.py
Due: ruff-check, ruff-format, pytest-unit, pytest-full, pytest-coverage

simplify arch doc
  docs/ARCHITECTURE.md
Due: none
