Repository dairycow/skim: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, pytest-unit-fast, pytest-coverage, check-env-example

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: 'tests/.*|docs/.*'

  - repo: local
    hooks:
      - id: ruff-check
        name: ruff check
        entry: uv run ruff check src tests
        language: system
        types: [python]
        pass_filenames: false

      - id: ruff-format
        name: ruff format
        entry: uv run ruff format --check src tests
        language: system
        types: [python]

      - id: pytest-unit-fast
        name: pytest unit tests (fast)
        entry: uv run pytest tests/unit/ -n auto --log-level=WARNING
        language: system
        types: [python]
        pass_filenames: false
        stages: [pre-commit]

      - id: pytest-coverage
        name: pytest with coverage
        entry: uv run pytest tests/unit/ -n auto --cov=src --cov-fail-under=80 --cov-report=term-missing --log-level=WARNING
        language: system
        types: [python]
        pass_filenames: false
        stages: [pre-push]

      - id: check-env-example
        name: Check .env.example changes
        entry: scripts/check-env-example.sh
        language: script
        files: '^\.env\.example$'

feat: add pyright type checking to pre-commit pipeline
  .pre-commit-config.yaml
  .pyrightconfig.json
  pyproject.toml
  src/skim/brokers/ibkr_oauth.py
  src/skim/core/bot.py
  src/skim/data/__init__.py
  src/skim/data/database.py
  src/skim/data/models.py
  src/skim/data/repositories/orh_repository.py
  src/skim/monitor.py
  src/skim/scanners/asx_announcements.py
  src/skim/strategies/base.py
  src/skim/trader.py
  src/skim/validation/scanners.py
  tests/integration/client/test_client_read_operations.py
  tests/integration/oauth/test_oauth_full_flow.py
  tests/integration/test_discord_integration.py
  tests/integration/test_penny_stock_scanning.py
  tests/integration/workflow/test_end_to_end_workflow.py
  tests/unit/brokers/test_ibkr_market_data.py
  tests/unit/brokers/test_ibkr_market_data_low.py
  tests/unit/brokers/test_ibkr_penny_stocks.py
  uv.lock
Due: ruff-check, ruff-format, pytest-unit-fast, pytest-coverage

feat: remove range dependency from ORH alert phase
  src/skim/data/repositories/orh_repository.py
  src/skim/notifications/discord.py
  src/skim/strategies/orh_breakout.py
  tests/unit/strategies/test_orh_breakout.py
  tests/unit/test_orh_repository.py
Due: ruff-check, ruff-format, pytest-unit-fast, pytest-coverage

refactor: move range_tracker to be strategy specific to orh_breakout
  docs/ARCHITECTURE.md
  src/skim/strategies/__init__.py
  src/skim/strategies/orh_breakout/__init__.py
  src/skim/strategies/orh_breakout/orh_breakout.py
  src/skim/strategies/orh_breakout/range_tracker.py
  tests/unit/strategies/orh_breakout/test_range_tracker.py
Due: ruff-check, ruff-format, pytest-unit-fast, pytest-coverage

refactor: move Trader to be strategy specific to orh_breakout
  docs/ARCHITECTURE.md
  src/skim/strategies/orh_breakout/__init__.py
  src/skim/strategies/orh_breakout/orh_breakout.py
  src/skim/strategies/orh_breakout/trader.py
  tests/unit/strategies/orh_breakout/test_trader.py
Due: ruff-check, ruff-format, pytest-unit-fast, pytest-coverage

change alert to happen at 10:02
  crontab
Due: none

feat: change ORH breakout range from 10-minute to 5-minute
  CLAUDE.md
  crontab
  docs/ARCHITECTURE.md
  docs/DEVELOPMENT.md
  src/skim/core/config.py
  src/skim/strategies/orh_breakout/orh_breakout.py
  src/skim/strategies/orh_breakout/range_tracker.py
  tests/integration/test_discord_integration.py
  tests/unit/conftest.py
  tests/unit/strategies/orh_breakout/test_range_tracker.py
  tests/unit/test_bot.py
  tests/unit/test_config.py
  tests/unit/test_models.py
  tests/unit/test_scanner_config.py
Due: ruff-check, ruff-format, pytest-unit-fast, pytest-coverage

feat: copy data/ dir in worktree creation script
  scripts/create-worktree.sh
Due: none

Add CoolTrader data downloader module
  .env.example
  crontab
  src/skim/analysis/cli/cli.py
  src/skim/analysis/data_downloader.py
  src/skim/analysis/data_loader.py
  src/skim/analysis/data_preprocessor.py
  tests/analysis/test_data_downloader.py
Due: ruff-check, ruff-format, pytest-unit-fast, pytest-coverage, check-env-example

Add historical data SQLite storage
  src/skim/analysis/db_loader.py
  src/skim/shared/database.py
  src/skim/shared/historical/__init__.py
  src/skim/shared/historical/models.py
  src/skim/shared/historical/repository.py
  src/skim/shared/historical/service.py
  src/skim/trading/data/import_historical.py
  src/skim/trading/services/__init__.py
  tests/shared/conftest.py
  tests/shared/test_historical_repository.py
  tests/shared/test_historical_service.py
Due: ruff-check, ruff-format, pytest-unit-fast, pytest-coverage

Fix lint issues from pre-commit hooks
  src/skim/analysis/cli/cli.py
  src/skim/analysis/data_downloader.py
  src/skim/analysis/data_preprocessor.py
  src/skim/trading/core/config.py
  src/skim/trading/data/__init__.py
  src/skim/trading/strategies/orh_breakout/orh_breakout.py
Due: ruff-check, ruff-format, pytest-unit-fast, pytest-coverage

Refactor CoolTraderAuth to separate concerns and fix DataLoader path
  src/skim/analysis/data_downloader.py
  src/skim/analysis/data_loader.py
Due: ruff-check, ruff-format, pytest-unit-fast, pytest-coverage

Add CoolTrader CLI with subcommands and update crontab
  crontab
  src/skim/analysis/chart_viewer.py
  src/skim/analysis/data_downloader.py
  src/skim/analysis/data_preprocessor.py
  src/skim/analysis/date_parser.py
  src/skim/analysis/stock_data.py
  src/skim/shared/historical/repository.py
Due: ruff-check, ruff-format, pytest-unit-fast, pytest-coverage

Add test RSA keys for OAuth tests
  .gitignore
  tests/trading/fixtures/rsa_keys/test_encryption_key.pem
  tests/trading/fixtures/rsa_keys/test_signature_key.pem
Due: none

Add backfill check feature to CoolTrader downloader
  pyproject.toml
  src/skim/analysis/data_downloader.py
  uv.lock
Due: ruff-check, ruff-format, pytest-unit-fast, pytest-coverage

Move yfinance to main dependencies for CLI
  pyproject.toml
  uv.lock
Due: none

Open worktree in VS Code after creation
  scripts/create-worktree.sh
Due: none

Move analysis deps to optional group; install with --extra analysis in worktrees
  pyproject.toml
  scripts/create-worktree.sh
Due: none

uv lock update
  uv.lock
Due: none

update uv lock
  uv.lock
Due: none

feat(domain): add unified domain models and protocols
  .opencode/plans/redesign-architecture.md
  app-builder-task.md
  cli-extractor-task.md
  di-container-task.md
  domain-builder-task.md
  ibkr-splitter-task.md
  infra-builder-task.md
  migrator-task.md
  src/skim/domain/__init__.py
  src/skim/domain/models/__init__.py
  src/skim/domain/models/candidate.py
  src/skim/domain/models/event.py
  src/skim/domain/models/position.py
  src/skim/domain/models/price.py
  src/skim/domain/models/signal.py
  src/skim/domain/models/ticker.py
  src/skim/domain/repositories/__init__.py
  src/skim/domain/repositories/base.py
  src/skim/domain/repositories/candidate.py
  src/skim/domain/repositories/position.py
  src/skim/domain/strategies/__init__.py
  src/skim/domain/strategies/base.py
  src/skim/domain/strategies/context.py
  src/skim/domain/strategies/registry.py
  strategy-simplify-task.md
Due: ruff-check, ruff-format, pytest-unit-fast, pytest-coverage

refactor(strategy): simplify constructor with StrategyContext
  src/skim/domain/strategies/__init__.py
  src/skim/domain/strategies/base.py
  src/skim/domain/strategies/context.py
  src/skim/domain/strategies/registry.py
  src/skim/trading/core/bot.py
  src/skim/trading/strategies/__init__.py
  src/skim/trading/strategies/base.py
  src/skim/trading/strategies/orh_breakout/orh_breakout.py
  tests/trading/unit/strategies/test_orh_breakout.py
Due: ruff-check, ruff-format, pytest-unit-fast, pytest-coverage

refactor(ibkr): split monolithic IBKRClient into focused classes
  .opencode/plans/redesign-architecture.md
  app-builder-task.md
  cli-extractor-task.md
  di-container-task.md
  domain-builder-task.md
  ibkr-splitter-task.md
  infra-builder-task.md
  migrator-task.md
  src/skim/infrastructure/brokers/ibkr/__init__.py
  src/skim/infrastructure/brokers/ibkr/auth.py
  src/skim/infrastructure/brokers/ibkr/connection.py
  src/skim/infrastructure/brokers/ibkr/exceptions.py
  src/skim/infrastructure/brokers/ibkr/facade.py
  src/skim/infrastructure/brokers/ibkr/requests.py
  src/skim/trading/brokers/__init__.py
  src/skim/trading/brokers/ibkr_gap_scanner.py
  src/skim/trading/brokers/ibkr_market_data.py
  src/skim/trading/brokers/ibkr_orders.py
  src/skim/trading/core/bot.py
  src/skim/trading/strategies/orh_breakout/orh_breakout.py
  strategy-simplify-task.md
  tests/trading/unit/brokers/test_ibkr_client.py
Due: ruff-check, ruff-format, pytest-unit-fast, pytest-coverage

refactor(cli): extract CLI into separate module with command pattern
  .opencode/plans/redesign-architecture.md
  app-builder-task.md
  cli-extractor-task.md
  di-container-task.md
  domain-builder-task.md
  ibkr-splitter-task.md
  infra-builder-task.md
  migrator-task.md
  pyproject.toml
  src/skim/application/commands/__init__.py
  src/skim/application/commands/base.py
  src/skim/application/commands/manage.py
  src/skim/application/commands/purge.py
  src/skim/application/commands/scan.py
  src/skim/application/commands/status.py
  src/skim/application/commands/trade.py
  src/skim/application/services/__init__.py
  src/skim/application/services/command_dispatcher.py
  src/skim/trading/cli.py
  src/skim/trading/core/bot.py
  strategy-simplify-task.md
  tests/trading/unit/test_cli.py
  tests/trading/unit/test_trading_bot.py
Due: ruff-check, ruff-format, pytest-unit-fast, pytest-coverage

fix(repository): extract values from SQLAlchemy Row objects
  src/skim/domain/strategies/__init__.py
  src/skim/shared/historical/repository.py
Due: ruff-check, ruff-format, pytest-unit-fast, pytest-coverage

feat(infrastructure): add BaseDatabase and IBKR facade classes
  src/skim/infrastructure/__init__.py
  src/skim/infrastructure/brokers/__init__.py
  src/skim/infrastructure/database/__init__.py
  src/skim/infrastructure/database/base.py
  src/skim/shared/historical/repository.py
Due: ruff-check, ruff-format, pytest-unit-fast, pytest-coverage

feat(application): add event bus and trading service
  src/skim/application/__init__.py
  src/skim/application/events/__init__.py
  src/skim/application/events/event_bus.py
  src/skim/application/events/handlers.py
  src/skim/application/services/__init__.py
  src/skim/application/services/trading_service.py
  src/skim/trading/strategies/base.py
Due: ruff-check, ruff-format, pytest-unit-fast, pytest-coverage

feat(shared): add DI container and consolidated exceptions
  .opencode/plans/strategy-interface-unification.md
  src/skim/shared/__init__.py
  src/skim/shared/container.py
  src/skim/shared/exceptions.py
Due: ruff-check, ruff-format, pytest-unit-fast, pytest-coverage

feat(migration): register strategies via decorator and add domain tests
  src/skim/application/__init__.py
  src/skim/trading/core/bot.py
  src/skim/trading/strategies/orh_breakout/orh_breakout.py
  tests/domain/test_models.py
  tests/domain/test_strategy_registry.py
  tests/trading/unit/test_trading_bot.py
Due: ruff-check, ruff-format, pytest-unit-fast, pytest-coverage

docs: simplify and streamline documentation
  AGENTS.md
  CLAUDE.md
  README.md
  app-builder-task.md
  cli-extractor-task.md
  di-container-task.md
  domain-builder-task.md
  ibkr-splitter-task.md
  infra-builder-task.md
  migrator-task.md
  scripts/agents/delegation.sh
  scripts/agents/run-agent.sh
  scripts/agents/tasks/app-builder-task.md
  scripts/agents/tasks/cli-extractor-task.md
  scripts/agents/tasks/di-container-task.md
  scripts/agents/tasks/domain-builder-task.md
  scripts/agents/tasks/ibkr-splitter-task.md
  scripts/agents/tasks/infra-builder-task.md
  scripts/agents/tasks/migrator-task.md
  scripts/agents/tasks/strategy-simplify-task.md
  strategy-simplify-task.md
Due: none

docs: update documentation to reflect hexagonal architecture
  docs/ARCHITECTURE.md
  docs/DEVELOPMENT.md
  docs/INTEGRATIONS.md
  docs/SECURITY.md
Due: none

feat(architecture): complete Phases B-C of hexagonal migration
  src/skim/application/events/__init__.py
  src/skim/application/events/handlers.py
  src/skim/application/services/trading_service.py
  src/skim/domain/strategies/context.py
  src/skim/infrastructure/brokers/__init__.py
  src/skim/infrastructure/brokers/ibkr/facade.py
  src/skim/infrastructure/brokers/protocols.py
  src/skim/trading/brokers/__init__.py
  src/skim/trading/brokers/ibkr_gap_scanner.py
  src/skim/trading/brokers/ibkr_market_data.py
  src/skim/trading/brokers/ibkr_orders.py
  src/skim/trading/data/database.py
Due: ruff-check, ruff-format, pytest-unit-fast, pytest-coverage

refactor: consolidate duplicate strategy base classes and broker protocols
  src/skim/application/events/event_bus.py
  src/skim/application/services/trading_service.py
  src/skim/domain/models/event.py
  src/skim/domain/strategies/base.py
  src/skim/trading/brokers/protocols.py
  src/skim/trading/monitor.py
  src/skim/trading/scanners/gap_scanner.py
  src/skim/trading/strategies/__init__.py
  src/skim/trading/strategies/base.py
  src/skim/trading/strategies/orh_breakout/orh_breakout.py
  src/skim/trading/strategies/orh_breakout/range_tracker.py
  src/skim/trading/strategies/orh_breakout/trader.py
  tests/domain/test_models.py
  tests/domain/test_strategy_registry.py
Due: ruff-check, ruff-format, pytest-unit-fast, pytest-coverage

update plans
  .opencode/plans/redesign-architecture.md
  .opencode/plans/strategy-interface-unification.md
Due: none

refactor: move historical database to infrastructure layer
  src/skim/analysis/db_loader.py
  src/skim/domain/strategies/context.py
  src/skim/infrastructure/database/base.py
  src/skim/infrastructure/database/historical/__init__.py
  src/skim/infrastructure/database/historical/models.py
  src/skim/infrastructure/database/historical/repository.py
  src/skim/infrastructure/database/historical/service.py
  src/skim/shared/historical/__init__.py
  src/skim/trading/data/__init__.py
  src/skim/trading/data/import_historical.py
  src/skim/trading/services/__init__.py
  src/skim/trading/strategies/orh_breakout/orh_breakout.py
  tests/shared/test_historical_repository.py
  tests/shared/test_historical_service.py
Due: ruff-check, ruff-format, pytest-unit-fast, pytest-coverage

refactor: remove dead shared module and consolidate historical database
  .pre-commit-config.yaml
  src/skim/analysis/db_loader.py
  src/skim/infrastructure/database/historical/__init__.py
  src/skim/infrastructure/database/historical/paths.py
  src/skim/shared/__init__.py
  src/skim/shared/constants.py
  src/skim/shared/container.py
  src/skim/shared/exceptions.py
  src/skim/trading/data/import_historical.py
  tests/shared/conftest.py
  tests/shared/test_historical_repository.py
  tests/shared/test_historical_service.py
Due: ruff-check, ruff-format, pytest-unit-fast, pytest-coverage

refactor(architecture): implement separate persistence layer (Option C)
  src/skim/application/events/handlers.py
  src/skim/infrastructure/database/trading/__init__.py
  src/skim/infrastructure/database/trading/mappers.py
  src/skim/infrastructure/database/trading/models.py
  src/skim/trading/brokers/__init__.py
  src/skim/trading/brokers/ibkr_market_data.py
  src/skim/trading/brokers/ibkr_orders.py
  src/skim/trading/data/__init__.py
  src/skim/trading/data/database.py
  src/skim/trading/data/models.py
  src/skim/trading/data/repositories/__init__.py
  src/skim/trading/data/repositories/base.py
  src/skim/trading/data/repositories/orh_repository.py
  src/skim/trading/monitor.py
  src/skim/trading/scanners/gap_scanner.py
  src/skim/trading/strategies/orh_breakout/trader.py
  tests/trading/unit/conftest.py
  tests/trading/unit/test_database.py
  tests/trading/unit/test_orh_repository.py
Due: ruff-check, ruff-format, pytest-unit-fast, pytest-coverage

remove CLAUDE.md
  CLAUDE.md
Due: none

pause deployment
  deploy/webhook.sh
Due: none

refactor(architecture): consolidate domain model imports
  src/skim/domain/models/__init__.py
  src/skim/domain/models/candidate.py
  src/skim/domain/repositories/candidate.py
  src/skim/domain/strategies/context.py
  src/skim/infrastructure/brokers/protocols.py
  src/skim/trading/core/bot.py
Due: ruff-check, ruff-format, pytest-unit-fast, pytest-coverage
